<section class="section">
  <div class="container">
    <div myRow>
      <div myColumn [size]="6" [offset]="3">
        <profile></profile>
      </div>
    </div>
    <div myRow>
      <div myColumn [size]="6" [offset]="3">
        <credentials></credentials>
      </div>
    </div>
  </div>
</section>